<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">{{description}}</p>
</div>
<main role="main" class="container">
  <form>
    <div class="form-group">
      <label for="inputData">Paste input data (JSON format):</label>
      <textarea class="form-control" id="inputData" name="inputData" rows="10" [(ngModel)]="inputData" ></textarea>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" id="parseDataButton" (click)="parseData()">Parse data</button>
      <button type="button" class="btn btn-secondary" id="resetFieldButton">Reset field</button>
    </div>
  </form>
  <div *ngIf="!loading">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
      <!-- <img class="mr-3" src="../../assets/brand/bootstrap-outline.svg" alt="" width="48" height="48"> -->
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Generated Clusters</h6>
        <small>{{clustering.clusters.length}} clusters</small>
      </div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm" *ngFor="let cluster of clustering.clusters | keyvalue">
      <h6 class="border-bottom border-gray pb-2 mb-0">Cluster {{cluster.key}}</h6>
      <div class="alert alert-danger" role="alert" *ngIf="getClusterError(cluster.key).length > 0">
        {{getClusterError(cluster.key)}}
      </div>
      <div class="media text-muted pt-3" *ngFor="let element of cluster.value">
        <img *ngIf="element.type == 0" data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1"
          alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16755266b1a%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16755266b1a%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true">
        <img *ngIf="element.type == 1" data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1"
          alt="32x32" class="mr-2 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16755266b1c%20text%20%7B%20fill%3A%23e83e8c%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16755266b1c%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23e83e8c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.296875%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          data-holder-rendered="true" style="width: 32px; height: 32px;">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">{{typeToString(element.type)}}</strong>
          {{element.text}}
        </p>
      </div>
    </div>
  </div>
</main>
